@import '../../functions.scss';

.explorer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;

    .header {
        @include gradient(#f3f5f6, #ede8ce, left, right);
        box-shadow: inset 0 -10px 2px -8px #cdcabb;

        .menu-bar {
            background: transparent;
            padding: 1px 2px 2px;
        }

        >* {
            &:not(:last-child) {
                border-bottom: 1px solid #cdcabb;
            }

            &:not(:first-child) {
                border-top: 1px solid white;
            }
        }
    }

    .body {
        display: flex;
        flex-grow: 1;
        
        padding-left: 1px;
        padding-bottom: 1px;

        .sidebar {
            width: 210px;
            @include gradient(rgb(123, 162, 231), rgb(99, 117, 214), top, bottom);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 12px;

            .group {
                background: white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;
                color: rgb(33, 93, 198);
                margin-bottom: 15px;
                font-family: 'Tahoma';
                font-size: 11px;

                .group-header {
                    @include gradient(white, rgb(198, 211, 247), left, right);
                    height: 25px;
                    font-weight: bold;
                    padding: 7px 13px;
                }

                .group-body {
                    background: rgb(214, 223, 247);
                    border: 1px solid white;
                    border-top: 0;
                    padding: 10px 12px;

                    ul {
                        margin: 0;
                        list-style: none;
                        padding-left: 0;

                        li {
                            margin-bottom: 4px;
                            
                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    
        .contents {
            display: flex;
            background: white;
            flex-grow: 1;
        }
    }
}

.toolbar-button-go {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-radius: 0 !important;
}

.react-autosuggest__container {
    flex-grow: 1;
}