.toolbar {
    padding: 0 2px;
    display: flex;
    align-items: center;
    font-family: Tahoma;
    font-size: 11px;
    color: black;
}

.toolbar-separator {
    margin: 2px 3px 1px 2px;
    background: #cac6af;
    width: 1px;
    align-self: stretch;
}

.toolbar-button {
    padding: 6px 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 4px;

    >* {
        pointer-events: none;
    }

    .icon:not(:last-child) {
        margin-right: 4px;
    }

    &:disabled {
        filter: grayscale(100%) opacity(80%);
    }

    &:not(:disabled) {
        &:hover, .toolbar-split:hover & {
            background: #f4f4ee;
            border-color: rgb(206, 206, 195);
            box-shadow: 
                inset -2px -3px 2px -2px #D7D2C6,
                inset 0px 20px 3px -17px #FDFDFC;
        }
    
        &.light:hover, .toolbar-split.light:hover & {
            background: white;
            border-color: #7A98AF;
            box-shadow: none;
        }
    
        &:active:hover {
            color: white;
            background: #E2E1D9;
            border-color: #9D9D92;
            box-shadow: 
                inset 0px -20px 3px -19px #FDFDFC,
                inset 2px 3px 2px -2px #D7D2C6;
    
            &>* {
                transform: translate(1px, 1px);
            }
        }
    
        &.light:active:hover, .light &:active:hover {
            background: white;
            border-color: #7A98AF;
            box-shadow: inset -2px -3px 2px -2px #E4DED8;
            color: black;
        }
    }
}

.toolbar-split {
    display: flex;
    margin-right: 4px;

    .toolbar-button {
        margin-right: 0;

        &:not(:first-child) {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}