@import '../../../../variables.scss';

.menu-bar {
    display: flex;
    background: $window-gray;
    border-bottom: 1px solid white;
    font-family: 'Tahoma';
    font-size: 11px;
    flex-wrap: wrap;
}

.menu-bar-menu {
    color: black;
    padding: 3px 6px;

    &:hover, &.active {
        background: rgb(49, 106, 197);
        color: white;
    }

    &:not(:last-child) {
        margin-right: 1px;
    }
}