@import '../../../../variables.scss';
@import '../../../../functions.scss';

$item-label-padding: 1px;
$item-width: 79px + $item-label-padding * 2;
$item-height: 64px;
$item-spacing: 17px 2px;

$icon-size: 32px;
$icon-padding-bottom: 4px;
$shortcut-icon-size: 11px;
$focus-outline-color: rgb(99, 181, 222);
$focus-active-outline-color: rgb(255, 177, 103);
$selected-color: rgb(49, 107, 197);

.file-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $item-width;
    height: $item-height;
    margin: 9px 1px;

    color: black;
    font-family: 'Tahoma';
    font-size: 11px;
    text-align: center;
    pointer-events: none;

    >* {
        pointer-events: auto;        
    }

    .label {
        padding: $item-label-padding;
    }

    &:focus {
        .label {
            border: 1px dotted $focus-outline-color;
        }

        &:active, &.active {
            .label {
                border-color: $focus-active-outline-color;
            }
        }
    }

    &:active, &.active {
        img {
            // source: https://codepen.io/stilllife00/pen/avXpgJ
            filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
        }

        .label {
            color: white;
            text-shadow: none;
            background: $selected-color;
        }
    }

    img {
        width: $icon-size;
        height: $icon-size;
        padding-bottom: $icon-padding-bottom;
        box-sizing: content-box;
    }

    &.shortcut {
        .icon::after {
            width: $shortcut-icon-size;
            height: $shortcut-icon-size;
        }
    }       
}