.folderview-icons {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 2px 1px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    
    overflow-x: hidden;
    overflow-y: auto;
}