@import '../variables.scss';
@import '../functions.scss';

.window {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    pointer-events: initial;
}

.frame {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-style: solid;
    border-image: url('../assets/window-border.png') 0 5 5 5 / 0px 4px 4px 4px round;
    border-top: 0; // 0px is turned into 0 in border-image in prod builds, apparently this is not treated equally atleast in chrome

    background: $window-white;

    .inactive & {
        border-image-source: url('../assets/window-border-inactive.png');
    }
}

.title-bar {
    width: 100%;
    min-height: $titlebar-height;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 1px 4px 0 6px;

    &::before {
        @include background();
        border-image: url('../assets/window-caption.png') 9 35 17 28 fill / 9px 35px 17px 28px round;

        .inactive & {
            border-image-source: url('../assets/window-caption-inactive.png');
        }
    }

    span {
        flex-grow: 1;
        font-family: 'Trebuchet MS';
        font-size: 13px;
        padding-top: 1px;
        font-weight: bold;
        text-shadow: rgb(10, 24, 131) 1px 1px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 3px;
    }

    .title-bar-buttons {
        display: flex;
        margin-top: 2px;

        >* {
            margin-right: 2px;
        }
    }
}

.app-icon {
    width: $titlebar-icon-width;
    height: $titlebar-icon-height;
    margin-right: 4px;
}

.status-bar {
    background: $window-gray;
}

$btnHeight: 21;
$btnVersionCount: 8;

$btnIconHeight: 13;
$btnIconVersionCount: 8;

.btn {
    padding: 2px;
    width: #{$btnHeight}px;
    height: #{$btnHeight}px;
    color: white;
    border: 0;
    outline: 0;
    position: relative;
    z-index: 0;
    background: none;
    display: flex;
    justify-content: center;

    &::before {
        @include background();
        border-image: url('../assets/window-button-blue.png') 0 / 0;
        @include sheetBorderSlice(0, $btnVersionCount, $btnHeight);
    }

    &:hover::before {
        @include sheetBorderSlice(1, $btnVersionCount, $btnHeight);
    }

    &:active::before {
        @include sheetBorderSlice(2, $btnVersionCount, $btnHeight);
    }

    .disabled &::before, &.disabled::before {
        @include sheetBorderSlice(3, $btnVersionCount, $btnHeight);
    }
    
    .inactive &, &.inactive {
        &::before {
            @include sheetBorderSlice(4, $btnVersionCount, $btnHeight);
        }

        &:hover::before {
            @include sheetBorderSlice(5, $btnVersionCount, $btnHeight);
        }
    
        &:active::before {
            @include sheetBorderSlice(6, $btnVersionCount, $btnHeight);
        }
    
        .disabled &::before, &.disabled::before {
            @include sheetBorderSlice(7, $btnVersionCount, $btnHeight);
        }
    }

    &.btn-danger::before {
        border-image-source: url('../assets/window-button-red.png');
    }
}

.btn-icon {
    width: #{$btnIconHeight}px;
    height: #{$btnIconHeight}px;

    @include sheetBorderSlice(0, $btnIconVersionCount, $btnIconHeight);

    .btn:hover & {
        @include sheetBorderSlice(1, $btnIconVersionCount, $btnIconHeight);
    }

    .btn:active & {
        @include sheetBorderSlice(2, $btnIconVersionCount, $btnIconHeight);
    }

    .disabled &, &.disabled {
        @include sheetBorderSlice(3, $btnIconVersionCount, $btnIconHeight);
    }
    
    .inactive &, &.inactive {
        @include sheetBorderSlice(4, $btnIconVersionCount, $btnIconHeight);

        .btn:hover & {
            @include sheetBorderSlice(5, $btnIconVersionCount, $btnIconHeight);
        }
    
        .btn:active & {
            @include sheetBorderSlice(6, $btnIconVersionCount, $btnIconHeight);
        }
    
        .disabled &, &.disabled {
            @include sheetBorderSlice(7, $btnIconVersionCount, $btnIconHeight);
        }
    }
}