@import '../variables.scss';
@import '../functions.scss';

$btn-expand-width: 19px;
$btn-expand-height: 20px;

.task-bar {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: flex-start;

    color: white;
    font-family: Tahoma;
    font-size: 11px;

    &::before {
        @include background();
        border-image: url('../assets/taskbar.png') 15 0 11 0 fill / 15px 0 11px 0 round;
    }

    >* {
        position: relative;
    }

    .task-bar-item {
        &:last-child {
            margin-left: auto;
        }
    }
}

.notify-tray {
    display: flex;
    padding: 0 7px 0 19px;
    align-items: center;
    height: 100%;

    &::before {
        @include background();
        border-image: url('../assets/taskbar-tray.png') 12 10 12 34 fill / 12px 10px 12px 34px round;
    }
    
    .btn-expand {
        position: absolute;
        left: 0px;
        width: $btn-expand-width;
        height: $btn-expand-height;
        background: url('../assets/taskbar-tray-expand.png') no-repeat 0 0;

        &:hover {
            background-position-y: -$btn-expand-height;
        }

        &:active {
            background-position-y: -$btn-expand-height * 2;
        }

        &.expanded {
            background: url('../assets/taskbar-tray-retract.png') no-repeat 0 0;

            &:hover {
                background-position-y: -$btn-expand-height;
            }
    
            &:active {
                background-position-y: -$btn-expand-height * 2;
            }
        }
    }

    .btn-expand~* {
        margin-left: 7px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }
}

.task-list {
    display: flex;
    flex: auto;
    height: 100%;
    align-items: flex-start;
}

.task-list-item {
    min-height: 30px;
    flex: 0 auto 147px;
    position: relative;
    padding: 4px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    span {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &::before {
        @include background();
        border-image: url('../assets/taskbar-button-normal.png') 15 5 8 17 fill / 15px 5px 8px 17px round;
    }
    
    &:hover::before {
        border-image-source: url('../assets/taskbar-button-hover.png');
    }

    &:active, &.active {
        &::before {
            border-image-source: url('../assets/taskbar-button-down.png');
        }

        &:hover::before {
            border-image-source: url('../assets/taskbar-button-down-hover.png');
        }
    }
}

.btn-start {
    min-width: 99px;
    height: 32px;
    padding: 2px 24px 4px 10px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    font-style: italic;
    text-shadow: 0.5px 0.5px 3px rgb(69, 76, 16);
    line-height: 0;

    img {
        margin-right: -1px;
    }
    
    &::before {
        @include background();
        border-image: url('../assets/button-start-normal.png') 13 52 14 6 fill / 13px 52px 14px 6px round;
    }

    &:hover::before {
        border-image-source: url('../assets/button-start-hover.png');
    }

    &:active::before, &.active::before {
        border-image-source: url('../assets/button-start-down.png');
    }
}

.start-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $startmenu-width;
    height: $startmenu-height;
    display: flex;
    flex-direction: column;
}

.start-panel-header {
    height: $startmenu-header-height;
    padding: $startmenu-header-padding-bottom $startmenu-header-padding-left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    text-shadow: rgb(9, 66, 139) 2px 2px;
    position: relative;

    &::before {
        @include background();
        border-image: url('../assets/startpanel-header.png') 62 60 0 59 fill / 62px 60px 0px 59px round;
    }
}

.start-panel-body {
    flex-grow: 1;
    color: black;
    background: white;
    z-index: 0;
    display: flex;

    hr {
        width: 172px;
        height: 2px;
        background: url('../assets/startpanel-proglist-separator.png');
        border: 0;
    }

    >* {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
    }
}

.start-panel-footer {
    height: $startmenu-footer-height;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;

    &::before {
        @include background();
        border-image: url('../assets/startpanel-footer.png') 0 47 38 49 fill / 0px 47px 38px 49px round;
    }

    .start-panel-footer-btn {
        display: inline-block;
        padding: 5px;

        &::before {
            content: '';
            display: inline-block;
            margin-right: 4px;
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
        
        &.btn-logoff::before {
            background: url('../assets/startpanel-logoff-normal.png');
        }
    
        &.btn-shutdown::before {
            background: url('../assets/startpanel-shutdown-normal.png');
        }

        &:hover {
            background: rgba(0, 0, 0, 0.2);

            &.btn-logoff::before {
                background: url('../assets/startpanel-logoff-hover.png');
            }

            &.btn-shutdown::before {
                background: url('../assets/startpanel-shutdown-hover.png');
            }
        }

        &:active {
            // offset children
        }
    }
}

.more-programs {
    min-height: 30px;
    flex: 0 0;
    color: rgb(55, 55, 56);
    font-family: 'Tahoma';
    font-size: 8pt;
    font-weight: bold;
    position: relative;
    padding: 0px 8px 6px 8px;
    text-align: center;

    &::before {
        @include background();
        border-image: url('../assets/startpanel-moreprograms.png') 0 0 1 3 fill / 0px 0px 1px 3px round;
    }

    &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url('../assets/startpanel-moreprograms-arrow-normal.png');
        width: 16px;
        height: 24px;
        margin-left: 12px;
    }

    &:hover {
        color: white;
        background: rgb(48, 112, 208);
        background-clip: content-box;

        &::after {
            background-image: url('../assets/startpanel-moreprograms-arrow-hover.png');
        }
    }
}

.spacer {
    flex-grow: 1;
}

.proglist {
    position: relative;
    min-height: 306px;
    flex: 1 0 50%;
    padding-top: 9px;
    // padding: 9px 4px 5px 6px;

    &::before {
        @include background();
        border-image: url('../assets/startpanel-proglist.png') 3 153 0 2 fill / 3px 153px 0px 2px round;
    }
}

.proglist-item {
    color: rgb(55, 55, 56);
    display: flex;
    align-items: center;
    margin: 2px 5px;
    padding: 2px 2px;

    &:hover {
        color: white;
        background: rgb(48, 112, 208);
        background-clip: padding-box;

        .content p {
            color:white;
        }
    }

    .icon {
        width: 32px;
        height: 32px;
        background: url('../assets/icons/512.png');
        background-size: contain;
    }

    .content {
        flex: 1 0;
        margin-left: 4px;

        h1, p {
            margin: 0;
            font-size: 11px;
            font-weight: normal;
        }
        
        h1:not(:only-child) {
            font-weight: bold;
        }
    
        p {
            color: rgb(128, 128, 128);
        }
    }
}

.placeslist {
    position: relative;
    min-height: 336px;
    flex: 1 0 50%;
    padding: 9px 6px 5px 4px;

    &::before {
        @include background();
        border-image: url('../assets/startpanel-places.png') 3 7 1 172 fill / 3px 7px 1px 172px round;
    }

    hr {
        width: 134px;
        height: 2px;
        background: url('../assets/startpanel-places-separator.png');
        border: 0;
    }

    .proglist-item {
        color: rgb(10, 36, 106);

        .icon {
            width: 24px;
            height: 24px;
            background: url('../assets/icons/512.png');
            background-size: contain;
        }
        
        &.favorite .content h1 {
            font-weight: bold;
        }

        &:hover {
            color: white;
        }
    }
}