@mixin background() {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    content: ' ';
    border-style: solid;
}

@mixin gradient($start, $end, $from, $to) {
    background: $start;
    background: -moz-linear-gradient($from, $start 0%, $end 100%);
    background: -webkit-linear-gradient($from, $start 0%, $end 100%);
    background: linear-gradient(to $to, $start 0%, $end 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}', GradientType=1 );
}