$window-white: #fff;
$window-gray: #ece9d8;
$titlebar-height: 30px;
$titlebar-border-radius-top: 5px;

$titlebar-icon-left: 5px;
$titlebar-icon-top: 7px;
$titlebar-icon-width: 16px;
$titlebar-icon-height: 16px;

$titlebar-title-left: 6px;
$titlebar-title-top: 12px;
$titlebar-title-bottom: 8px;
$titlebar-title-shadow-offset: 1px 1px;

$titlebar-button-right: 6px;
$titlebar-button-top: 6px;
$titlebar-button-width: 21px;
$titlebar-button-height: 21px;
$titlebar-button-spacing: 2px;

$window-border-x: 4px;
// $window-border-top: 2px;
$window-border-bottom: 4px;

$blue: rgb(0, 84, 229);

$startmenu-width: 380px;
$startmenu-height: 494px;
$startmenu-header-height: 64px;
$startmenu-header-font-height: 13px;
$startmenu-header-padding-left: 20px;
$startmenu-header-padding-bottom: 27px;
$startmenu-footer-height: 40px;
$startmenu-shadow-offset: 5px 5px;